# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
dist/
aegis/dist/
aegis/prisma.config.js
aegis/prisma.config.js.map
aegis/prisma.config.d.ts
aegis/prisma.config.d.ts.map
aegis-ui/.next/

# misc
.DS_Store
*.pem   

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
!.env.example
!aegis/.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# researcg file
temp_research/
.vscode
