# RPC URL for Arc Testnet or other networks
ARC_RPC_URL="https://rpc.testnet.arc-node.thecanteenapp.com/v1/swrm_072435ffcbc416f74d37644d6302d51a2f3f7d593b61f1100361bae503213055"

# Private key for deploying contracts (0x prefix not required, but allowed)
DEPLOYER_PRIVATE_KEY=""

# (Optional) Real USDC address on the target network. If left blank, a MockUSDC will be deployed.
USDC_ADDRESS=""